{% extends "layout.njk" %}
{% block header %}
  Delete category
{% endblock %}
{% block content %}
  {% from 'components/delete_category_panel.njk' import deleteCategoryPanel %}
  {{ deleteCategoryPanel(category) }}
{% endblock %}