{% extends "layout.njk" %}
{% block header %}Delete tea{% endblock %}
{% block content %}
  {% from 'components/delete_item_panel.njk' import deleteItemPanel %}
  {{ deleteItemPanel(item) }}
{% endblock %}